//CSS reset
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

//fonts
@import "node_modules/font-awesome/css/font-awesome.css";

//mixins
@mixin border-radius($top, $right, $bottom, $left) {
	-webkit-border-top-left-radius: $top;
	-webkit-border-top-right-radius: $right;
	-webkit-border-bottom-right-radius: $bottom;
	-webkit-border-bottom-left-radius: $left;
	-moz-border-radius-topleft: $top;
	-moz-border-radius-topright: $right;
	-moz-border-radius-bottomright: $bottom;
	-moz-border-radius-bottomleft: $left;
	border-top-left-radius: $top;
	border-top-right-radius: $right;
	border-bottom-right-radius: $bottom;
	border-bottom-left-radius: $left;
}
@mixin transform($args){
	-webkit-transform: $args;
	-moz-tranform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

//color palette
$black: #000;
$dark: #19323C;
$light: #F3F7F0;
$blue: #0F7173;
$red: #D72638;
$orange: #FF9F1C;
$purple: #6320EE;
$green: #139A43;

//fullscreen
html, body, .rpg-screen, .rpg-combat-screen {
	background-color: $dark;
}

//disable interpolation on canvases
.rpg-canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.hide {
	display: none;
}

$ship-title-height: 30px;
$ship-ui-border: 3px solid darken($dark, 10);

//ship ui (with grid, health, and energy)
.ship-ui {
	width: 50%;
	max-width: 350px;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	.rpg-canvas {
		width: 100%;
		margin: 0 auto;
		display: block;
		background-color: rgba(0,0,0,0.05);
		border-left: $ship-ui-border;
		border-right: $ship-ui-border;
		box-sizing: border-box;
	}
	.ship, .ui {
		width: 100%;
		padding-top: $ship-title-height + 20px;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.ui {
		position: relative;
	}
	//stat bars
	$stat-bar-height: 28px;
	.stat-bar {
		height: $stat-bar-height;
		max-width: 400px;
		margin: 0 auto;
		box-sizing: border-box;
		border: $ship-ui-border;
		border-bottom: 0;
		position: relative;
		overflow: hidden;
		background-color: $black;
		//the bar
		.stat-bar-inner {
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba($light, 0.5);
		}
		//the text
		.stat-bar-text {
			font-family: monospace;
			font-size: 14px;
			font-weight: bold;
			line-height: $stat-bar-height - 4;
			position: absolute;
			top: 0;
			left: 10px;
			color: rgba($light, 0.9);
			text-shadow: 1px 1px 0px rgba($black, 0.7);
		}
		//the icon
		i {
			position: absolute;
			top: 0;
			right: 6px;
			color: rgba($light, 0.8);
			line-height: $stat-bar-height - 4;
			height: 100%;
			width: 20px;
			&::before{
				text-align: center;
				width: 20px;
				display: block;
			}
		}
		//exceptions
		&.health .stat-bar-inner {
			background-color: $red;
		}
		&.energy .stat-bar-inner {
			background-color: $blue;
		}
		&:last-child {
			height: $stat-bar-height + 3;
			border-bottom: $ship-ui-border;
			@include border-radius(0, 0, 5px, 5px);
		}
	}
}

//ship title
.ship-ui .ship-name, .control-panel > .title {
	width: 100%;
	top: 20px;
	left: 50%;
	@include translate(-50%, 0);
	padding: 0 10px;
	font-family: monospace;
	color: $light;
	height: $ship-title-height;
	line-height: $ship-title-height - 4;
	background-color: $black;
	@include border-radius(5px, 5px, 0, 0);
	border: $ship-ui-border;
	border-bottom: 0;
	box-sizing: border-box;
	position: absolute;
}
.control-panel > .title { top: 0; }

//combat screen
.rpg-combat-screen {
	.ships-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 30px 20px 30px;
		box-sizing: border-box;
	}
	//control panel
	$control-panel-light1: mix($light, $dark, 50%);
	$control-panel-light2: mix($light, $dark, 35%);
	$control-panel-height: 40px;
	.control-panel {
		position: relative;
		min-height: 400px;
		margin: 0 30px 30px 30px;
		background-color: rgba($black, 0.2);
		@include border-radius(8px, 8px, 8px, 8px);
		border: $ship-ui-border;
		box-sizing: border-box;
		.title {
			border: 0;
			z-index: 1;
		}
		.tabs, .detail {
			position: absolute;
			padding-top: $ship-title-height;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			.tabs-background {
				background-color: $control-panel-light1;
				border-bottom: 3px solid $control-panel-light2;
				width: 100%;
				height: $control-panel-height;
				float: none;
				pointer-events: none;
				margin-bottom: -$control-panel-height - 3px;
			}
			input[type=radio] {
				float: left;
				display: block;
				border-radius: 0;
				width: 110px;
				height: $control-panel-height;
				top: 0;
				left: 0;
				opacity: 0;
			}
			.tab-title {
				float: left;
				padding: 0 15px;
				border-bottom: 3px solid $control-panel-light2;
				margin-bottom: -3px;
				width: 80px;
				height: $control-panel-height;
				line-height: $control-panel-height;
				text-align: center;
				font-family: monospace;
				pointer-events: none;
				margin-left: -110px;
			}
			//selected tab
			input[type=radio]:checked + .tab-title {
				border-color: $dark;
			}
			input[type=radio]:checked + .tab-title + .tab-content-wrapper .tab-content {
				opacity: 1;
				pointer-events: all;
			}
			//highlight colors
			input[type=radio]:checked + .tab-title.purple { color: darken($purple, 10); }
			input[type=radio]:checked + .tab-title.green { color: darken($green, 10); }
			input[type=radio]:checked + .tab-title.blue { color: darken($blue, 6); }
			input[type=radio]:checked + .tab-title.orange { color: darken($orange, 5); }
			//tab content
			.tab-content-wrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				pointer-events: none;
				padding-top: $control-panel-height + $ship-title-height + 3;
				box-sizing: border-box;
			}
			.tab-content {
				width: 100%;
				height: 100%;
				bottom: 0;
				opacity: 0;
			}
		}
		.detail {
			width: 300px;
			right: 0;
			border-left: 2px solid $black;
			.detail-title {
				padding: 0 15px;
				height: $control-panel-height;
				line-height: $control-panel-height;
				font-family: monospace;
				pointer-events: none;
				text-transform: capitalize;
				font-size: 14px;
			}
			.detail-content {
				.canvas-wrapper {
					background-color: rgba(243, 247, 240, 0.1);
					height: 140px;
					width: 100%;
					canvas {
						height: 100%;
						margin: 0 auto;
						display: block;
					}
				}
			}
		}
		//colors
		.detail.purple {
			background-color: mix($purple, $black, 10%);
			.detail-title {
				background-color: mix($purple, $dark, 70%);
				border-bottom: 3px solid mix($purple, $dark, 50%);
			}
		}
		.detail.orange {
			background-color: mix($orange, $black, 10%);
			.detail-title {
				background-color: mix($orange, $dark, 70%);
				border-bottom: 3px solid mix($orange, $dark, 50%);
			}
		}
		.detail.blue {
			background-color: mix($blue, $black, 10%);
			.detail-title {
				background-color: mix($blue, $dark, 70%);
				border-bottom: 3px solid mix($blue, $dark, 50%);
			}
		}
		.detail.green {
			background-color: mix($green, $black, 10%);
			.detail-title {
				background-color: mix($green, $dark, 70%);
				border-bottom: 3px solid mix($green, $dark, 50%);
			}
		}
	}
	$attack-bar-height: 40px;
	.attack-bar {
		margin: 0 30px 20px 30px;
		padding: 0 200px;
		height: $attack-bar-height;
		background-color: $orange;
		border: $ship-ui-border;
		@include border-radius(5px, 5px, 5px, 5px);
		position: relative;
		font-family: monospace;
		font-weight: bold;
		font-size: 20px;
		* {
			display: inline-block;
			height: $attack-bar-height;
			line-height: $attack-bar-height;
		}
		.attack-bar-content {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
		}
		.back-left, .back-right {
			position: absolute;
			height: 100%;
			width: 50%;
			background-color: $orange;
			top: 0;
			left: 0;
		}
		.back-right {
			right: 0;
			left: auto;
		}
		&.ready-left .back-left {
			background-color: $green;
		}
		&.ready-right .back-right {
			background-color: $green;
		}
		&.ready-left.ready-right .engage{
			color: $light;
		}
		.left, .right {
			position: absolute;
			display: block;
			width: 130px;
			text-align: center;
			left: 0;
		}
		.right {
			left: auto;
			right: 0;
		}
		.engage {
			background-color: $black;
			color: rgba($light, 0.3);
			padding: 0 30px;
		}
		.chevron-right, .chevron-left {
			display: block;
			height: 0;
			width: 0;
			border-style: solid;
			border-width: $attack-bar-height/2 0 $attack-bar-height/2 $attack-bar-height;
		}
		.chevron-right {
			border-width: $attack-bar-height/2 $attack-bar-height $attack-bar-height/2 0;
		}
		//generate border colors
		$len: 5;
		@for $i from 0 through $len - 1 {
			.chevron-right-#{$i} {
				border-color: mix($orange, $black, $i * 20) mix($orange, $black, ($i + 1) * 20) mix($orange, $black, $i * 20) transparent;
			}
			&.ready-right .chevron-right-#{$i} {
				border-color: mix($green, $black, $i * 20) mix($green, $black, ($i + 1) * 20) mix($green, $black, $i * 20) transparent;
			}
			.chevron-left-#{$i} {
				border-color: mix($orange, $black, $i * 20) transparent mix($orange, $black, $i * 20) mix($orange, $black, ($i + 1) * 20);
			}
			&.ready-left .chevron-left-#{$i} {
				border-color: mix($green, $black, $i * 20) transparent mix($green, $black, $i * 20) mix($green, $black, ($i + 1) * 20);
			}
		}
	}
}

// --- item ui ---

//item thumbnail (seen on module control panel)
.item-thumb {
	position: relative;
	margin: 10px;
	padding: 10px 10px 10px 110px;
	box-sizing: border-box;
	width: 300px;
	height: 100px;
	display: inline-block;
	background-color: lighten($black, 5);
	overflow: hidden;
	border: 1px solid transparent;
	color: $light;
	font-family: monospace;
	@include border-radius(5px, 5px, 5px, 5px);
	cursor: hand;
	cursor: pointer;
	//color by item type
	&.battery {
		.title { color: lighten($blue, 55); }
		.description p { color: $blue; }
		.description p.fa-exchange { color: lighten($blue, 10); }
	}
	&.shield {
		.title { color: lighten($green, 30); }
		.description p { color: $green; }
		.description p.fa-exchange { color: lighten($green, 10); }
	}
	&.weapon {
		.title { color: lighten($orange, 30); }
		.description p { color: $orange; }
		.description p.fa-exchange { color: lighten($orange, 15); }
	}
	//text fields
	.title {
		font-size: 16px;
		text-transform: capitalize;
	}
	.description {
		margin-top: 10px;
		p {
			font-size: 18px;
			line-height: 24px;
			display: inline-block;
			position: relative;
			text-align: right;
			padding-right: 20px;
			&:before {
				font-family: FontAwesome;
				display: block;
				position: absolute;
				right: 0;
				@include translate(50%, 0);
			}
		}
	}
	//item view
	.rpg-canvas {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: rgba($light, 0.1);
	}
	//on select
	&.selected {
		border-color: $light;
	}
}
