@import url(node_modules/font-awesome/css/font-awesome.css);
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

abbr, acronym {
  border: 0; }

html, body, .rpg-screen, .rpg-combat-screen {
  background-color: #19323C; }

.rpg-canvas {
  image-rendering: optimizeSpeed;
  /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast;
  /* Safari                        */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;
  /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE                            */ }

.ship-ui {
  width: 50%;
  max-width: 350px;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }
  .ship-ui .rpg-canvas {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 3px solid #0a1418;
    border-right: 3px solid #0a1418;
    box-sizing: border-box; }
  .ship-ui .ship, .ship-ui .ui {
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
  .ship-ui .ui {
    position: relative; }
  .ship-ui .stat-bar {
    height: 28px;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 3px solid #0a1418;
    border-bottom: 0;
    position: relative;
    overflow: hidden;
    background-color: #000; }
    .ship-ui .stat-bar .stat-bar-inner {
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(243, 247, 240, 0.5); }
    .ship-ui .stat-bar .stat-bar-text {
      font-family: monospace;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      position: absolute;
      top: 0;
      left: 10px;
      color: rgba(243, 247, 240, 0.9);
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7); }
    .ship-ui .stat-bar i {
      position: absolute;
      top: 0;
      right: 6px;
      color: rgba(243, 247, 240, 0.8);
      line-height: 24px;
      height: 100%;
      width: 20px; }
      .ship-ui .stat-bar i::before {
        text-align: center;
        width: 20px;
        display: block; }
    .ship-ui .stat-bar.health .stat-bar-inner {
      background-color: #D72638; }
    .ship-ui .stat-bar.energy .stat-bar-inner {
      background-color: #0F7173; }
    .ship-ui .stat-bar:last-child {
      height: 31px;
      border-bottom: 3px solid #0a1418;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }

.ship-ui .ship-name, .control-panel > .title {
  width: 100%;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-tranform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
  font-family: monospace;
  color: #F3F7F0;
  height: 30px;
  line-height: 26px;
  background-color: #000;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 3px solid #0a1418;
  border-bottom: 0;
  box-sizing: border-box;
  position: absolute; }

.control-panel > .title {
  top: 0; }

.rpg-combat-screen .ships-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 20px 30px;
  box-sizing: border-box; }

.rpg-combat-screen .control-panel {
  position: relative;
  min-height: 400px;
  margin: 0 30px 30px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 3px solid #0a1418;
  box-sizing: border-box; }
  .rpg-combat-screen .control-panel .title {
    border: 0; }
  .rpg-combat-screen .control-panel .tabs {
    position: absolute;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
    .rpg-combat-screen .control-panel .tabs .tabs-background {
      background-color: #869596;
      border-bottom: 3px solid #65777b;
      width: 100%;
      height: 40px;
      float: none;
      pointer-events: none;
      margin-bottom: -43px; }
    .rpg-combat-screen .control-panel .tabs input[type=radio] {
      float: left;
      display: block;
      border-radius: 0;
      width: 110px;
      height: 40px;
      top: 0;
      left: 0;
      opacity: 0; }
    .rpg-combat-screen .control-panel .tabs .tab-title {
      float: left;
      padding: 0 15px;
      border-bottom: 3px solid #65777b;
      margin-bottom: -3px;
      width: 80px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-family: monospace;
      pointer-events: none;
      margin-left: -110px; }
    .rpg-combat-screen .control-panel .tabs input[type=radio]:checked + .tab-title {
      border-color: #19323C; }
    .rpg-combat-screen .control-panel .tabs input[type=radio]:checked + .tab-title + .tab-content-wrapper .tab-content {
      opacity: 1;
      pointer-events: all; }
    .rpg-combat-screen .control-panel .tabs input[type=radio]:checked + .tab-title.purple {
      color: #4d10cb; }
    .rpg-combat-screen .control-panel .tabs input[type=radio]:checked + .tab-title.blue {
      color: #0b5658; }
    .rpg-combat-screen .control-panel .tabs input[type=radio]:checked + .tab-title.orange {
      color: #ff9403; }
    .rpg-combat-screen .control-panel .tabs .tab-content-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      pointer-events: none;
      padding-top: 73px;
      box-sizing: border-box; }
    .rpg-combat-screen .control-panel .tabs .tab-content {
      width: 100%;
      height: 100%;
      bottom: 0;
      opacity: 0; }

.rpg-combat-screen .attack-bar {
  margin: 0 30px 20px 30px;
  padding: 0 200px;
  height: 40px;
  background-color: #FF9F1C;
  border: 3px solid #0a1418;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px; }
  .rpg-combat-screen .attack-bar * {
    display: inline-block;
    height: 40px;
    line-height: 40px; }
  .rpg-combat-screen .attack-bar .attack-bar-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; }
  .rpg-combat-screen .attack-bar .back-left, .rpg-combat-screen .attack-bar .back-right {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #FF9F1C;
    top: 0;
    left: 0; }
  .rpg-combat-screen .attack-bar .back-right {
    right: 0;
    left: auto; }
  .rpg-combat-screen .attack-bar.ready-left .back-left {
    background-color: #139A43; }
  .rpg-combat-screen .attack-bar.ready-right .back-right {
    background-color: #139A43; }
  .rpg-combat-screen .attack-bar.ready-left.ready-right .engage {
    color: #F3F7F0; }
  .rpg-combat-screen .attack-bar .left, .rpg-combat-screen .attack-bar .right {
    position: absolute;
    display: block;
    width: 130px;
    text-align: center;
    left: 0; }
  .rpg-combat-screen .attack-bar .right {
    left: auto;
    right: 0; }
  .rpg-combat-screen .attack-bar .engage {
    background-color: #000;
    color: rgba(243, 247, 240, 0.3);
    padding: 0 30px; }
  .rpg-combat-screen .attack-bar .chevron-right, .rpg-combat-screen .attack-bar .chevron-left {
    display: block;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px; }
  .rpg-combat-screen .attack-bar .chevron-right {
    border-width: 20px 40px 20px 0; }
  .rpg-combat-screen .attack-bar .chevron-right-0 {
    border-color: black #332006 black transparent; }
  .rpg-combat-screen .attack-bar.ready-right .chevron-right-0 {
    border-color: black #041f0d black transparent; }
  .rpg-combat-screen .attack-bar .chevron-left-0 {
    border-color: black transparent black #332006; }
  .rpg-combat-screen .attack-bar.ready-left .chevron-left-0 {
    border-color: black transparent black #041f0d; }
  .rpg-combat-screen .attack-bar .chevron-right-1 {
    border-color: #332006 #66400b #332006 transparent; }
  .rpg-combat-screen .attack-bar.ready-right .chevron-right-1 {
    border-color: #041f0d #083e1b #041f0d transparent; }
  .rpg-combat-screen .attack-bar .chevron-left-1 {
    border-color: #332006 transparent #332006 #66400b; }
  .rpg-combat-screen .attack-bar.ready-left .chevron-left-1 {
    border-color: #041f0d transparent #041f0d #083e1b; }
  .rpg-combat-screen .attack-bar .chevron-right-2 {
    border-color: #66400b #995f11 #66400b transparent; }
  .rpg-combat-screen .attack-bar.ready-right .chevron-right-2 {
    border-color: #083e1b #0b5c28 #083e1b transparent; }
  .rpg-combat-screen .attack-bar .chevron-left-2 {
    border-color: #66400b transparent #66400b #995f11; }
  .rpg-combat-screen .attack-bar.ready-left .chevron-left-2 {
    border-color: #083e1b transparent #083e1b #0b5c28; }
  .rpg-combat-screen .attack-bar .chevron-right-3 {
    border-color: #995f11 #cc7f16 #995f11 transparent; }
  .rpg-combat-screen .attack-bar.ready-right .chevron-right-3 {
    border-color: #0b5c28 #0f7b36 #0b5c28 transparent; }
  .rpg-combat-screen .attack-bar .chevron-left-3 {
    border-color: #995f11 transparent #995f11 #cc7f16; }
  .rpg-combat-screen .attack-bar.ready-left .chevron-left-3 {
    border-color: #0b5c28 transparent #0b5c28 #0f7b36; }
  .rpg-combat-screen .attack-bar .chevron-right-4 {
    border-color: #cc7f16 #ff9f1c #cc7f16 transparent; }
  .rpg-combat-screen .attack-bar.ready-right .chevron-right-4 {
    border-color: #0f7b36 #139a43 #0f7b36 transparent; }
  .rpg-combat-screen .attack-bar .chevron-left-4 {
    border-color: #cc7f16 transparent #cc7f16 #ff9f1c; }
  .rpg-combat-screen .attack-bar.ready-left .chevron-left-4 {
    border-color: #0f7b36 transparent #0f7b36 #139a43; }

.item-thumb {
  position: relative;
  margin: 10px;
  padding: 10px 10px 10px 110px;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  display: inline-block;
  background-color: #0d0d0d;
  overflow: hidden;
  border: 1px solid transparent;
  color: #F3F7F0;
  font-family: monospace;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: hand;
  cursor: pointer; }
  .item-thumb .fa-bolt {
    color: #0F7173; }
  .item-thumb .fa-tachometer {
    color: #159da0; }
  .item-thumb .fa-shield {
    color: #6320EE; }
  .item-thumb .fa-exchange {
    color: #844ff2; }
  .item-thumb .fa-certificate {
    color: #FF9F1C; }
  .item-thumb .fa-crosshairs {
    color: #ffbf69; }
  .item-thumb.battery .title {
    color: #a7f2f4; }
  .item-thumb.shield .title {
    color: #c6aef9; }
  .item-thumb.weapon .title {
    color: #ffe0b5; }
  .item-thumb .title {
    font-size: 16px;
    text-transform: capitalize; }
  .item-thumb .description {
    margin-top: 10px; }
    .item-thumb .description p {
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      position: relative;
      text-align: right;
      padding-right: 20px; }
      .item-thumb .description p:before {
        display: block;
        position: absolute;
        right: 0;
        -webkit-transform: translate(50%, 0);
        -moz-tranform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        -o-transform: translate(50%, 0);
        transform: translate(50%, 0); }
  .item-thumb .rpg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(243, 247, 240, 0.1); }
  .item-thumb.selected {
    border-color: #F3F7F0; }

/*# sourceMappingURL=style.css.map */