//CSS reset
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

//fonts
@import "node_modules/font-awesome/scss/font-awesome.scss";

//mixins
@mixin border-radius($top, $right, $bottom, $left) {
	-webkit-border-top-left-radius: $top;
	-webkit-border-top-right-radius: $right;
	-webkit-border-bottom-right-radius: $bottom;
	-webkit-border-bottom-left-radius: $left;
	-moz-border-radius-topleft: $top;
	-moz-border-radius-topright: $right;
	-moz-border-radius-bottomright: $bottom;
	-moz-border-radius-bottomleft: $left;
	border-top-left-radius: $top;
	border-top-right-radius: $right;
	border-bottom-right-radius: $bottom;
	border-bottom-left-radius: $left;
}
@mixin transform($args){
	-webkit-transform: $args;
	-moz-tranform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

//color palette
$black: #000;
$dark: #19323C;
$light: #F3F7F0;
$blue: #0F7173;
$red: #D72638;
$orange: #FF9F1C;

//fullscreen
html, body, .rpg-screen, .rpg-combat-screen {
	background-color: $dark;
}

//disable interpolation on canvases
.rpg-canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

//combat screen
.rpg-combat-screen {
	$ship-title-height: 30px;
	$ship-ui-border: 3px solid darken($dark, 10);
	.ships-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 30px 20px 30px;
		box-sizing: border-box;
	}
	.player, .enemy {
		width: 50%;
		max-width: 350px;
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		.rpg-canvas {
			width: 100%;
			margin: 0 auto;
			display: block;
			background-color: rgba(0,0,0,0.05);
			border-left: $ship-ui-border;
			border-right: $ship-ui-border;
			box-sizing: border-box;
		}
		.ship, .ui {
			width: 100%;
			padding-top: $ship-title-height + 20px;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
		}
		.ui {
			position: relative;
		}
	}
	//ship title
	.ship-name, .title {
		width: 100%;
		top: 20px;
		left: 50%;
		@include translate(-50%, 0);
		padding: 0 10px;
		font-family: monospace;
		color: $light;
		height: $ship-title-height;
		line-height: $ship-title-height - 4;
		background-color: $black;
		@include border-radius(5px, 5px, 0, 0);
		border: $ship-ui-border;
		border-bottom: 0;
		box-sizing: border-box;
		position: absolute;
	}
	.title { top: 0; }
	//stat bars
	$stat-bar-height: 28px;
	.stat-bar {
		height: $stat-bar-height;
		max-width: 400px;
		margin: 0 auto;
		box-sizing: border-box;
		border: $ship-ui-border;
		border-bottom: 0;
		position: relative;
		overflow: hidden;
		background-color: $black;
		//the bar
		.stat-bar-inner {
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba($light, 0.5);
		}
		//the text
		.stat-bar-text {
			font-family: monospace;
			font-size: 14px;
			font-weight: bold;
			line-height: $stat-bar-height - 4;
			position: absolute;
			top: 0;
			left: 10px;
			color: rgba($light, 0.9);
			text-shadow: 1px 1px 0px rgba($black, 0.7);
		}
		//the icon
		i {
			position: absolute;
			top: 0;
			right: 6px;
			color: rgba($light, 0.8);
			line-height: $stat-bar-height - 4;
			height: 100%;
			width: 20px;
			&::before{
				text-align: center;
				width: 20px;
				display: block;
			}
		}
		//exceptions
		&.health .stat-bar-inner {
			background-color: $red;
		}
		&.energy .stat-bar-inner {
			background-color: $blue;
		}
		&:last-child {
			height: $stat-bar-height + 3;
			border-bottom: $ship-ui-border;
			@include border-radius(0, 0, 5px, 5px);
		}
	}
	//control panel
	.control-panel {
		position: relative;
		min-height: 400px;
		margin: 0 30px 30px 30px;
		background-color: rgba($black, 0.2);
		@include border-radius(0, 0, 5px, 5px);
	}
}
